{% extends 'base.html' %}
{% block title %}EDEN - About{% endblock %}

{% block content %}
<div>
    <h5 class="text-center">Welcome! I'm <span class="text-info">D</span>ekrazi, and I am excited to
        share my first project with you called <span class="text-info">EDEN</span></h5>
    <hr>    
    <p><span class="text-info">EDEN</span> is a web application that provides a platform for people to express
        themselves by creating and sharing blog posts.</p>

    <p>The idea for <span class="text-info">EDEN</span> came from my love for writing and my desire to create a space
        where people can share their thoughts, experiences, and ideas with others. I wanted to build a platform that was
        easy to use, visually appealing, and focused on the art of storytelling.</p>

    <p>To achieve this, I chose to build <span class="text-info">EDEN</span> using Django, a powerful and flexible web
        framework that makes it easy to build complex web applications. With Django, I was able to create a
        user-friendly interface and incorporate features such as ability to create an account, add, edit and remove posts. The goal was
        for the project not to be perfect but to be simple and effective.</p>
        

    <p>Throughout the development of <span class="text-info">EDEN</span>, I learned a lot about Django, web development,
        and project management. As a beginner I faced challenges, but I was able to overcome them with creativity and hard work.</p>

    <p>Now that <span class="text-info">EDEN</span> is live, I am excited to see it grow into a vibrant community of
        writers and readers. I believe that everyone has a story to tell and that <span class="text-info">EDEN</span>
        can be a place where those stories can be shared and celebrated.</p>
    <hr>
    
    </div>
    <div class="content-end">
        I hope you enjoy my project. <br><span class="text-info">D</span>ekrazi
    </div>

{% endblock %}